.aboutLayout {
  background-image: url("/images/landing2.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

.navbar {
  backdrop-filter: blur(3px);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  right: 0;
  text-align: left;

  .navbarLink {
    text-decoration: none;
    color: #fafafa;
    transition: font-size 0.4s ease;
    margin-right: 50px;

    &:hover {
      color: #0787ff;
      font-size: 1.1em;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.mainContent {
  max-width: 1250px;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 80px;
}

.container {
  height: 150vh;
  max-width: 1500px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20vh;
}

.aboutContent {
  color: #333;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutContent h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.aboutContent p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}
